In [80]:
import pandas as pd
import numpy as np
import scipy as sp

In [3]:
S10_dataset = pd.read_csv("C:\\Users\\camil\\Downloads\\The Bridge\\08_19_2020.csv", sep =";")

In [73]:
# Primera vista premiliminar 
S10_dataset.info

<bound method DataFrame.info of        gameId league split  playoffs              date  game  patch  \
0     1241318  KeSPA   NaN         0   03/01/2020 7:33     1   9.24
1     1241322  KeSPA   NaN         0   03/01/2020 9:00     2   9.24
2     1241324  KeSPA   NaN         0  03/01/2020 10:05     3   9.24
3     1241328  KeSPA   NaN         0  03/01/2020 10:57     4   9.24
4     1241386  KeSPA   NaN         0   04/01/2020 5:33     1   9.24
...       ...    ...   ...       ...               ...   ...    ...
5144  1310259     EM   NaN         0  18/08/2020 20:25     1  10.16
5145  1310260     EM   NaN         0  18/08/2020 20:27     1  10.16
5146  1310262     EM   NaN         0  18/08/2020 20:53     1  10.16
5147  1320317     EM   NaN         0  18/08/2020 20:56     1  10.16
5148  1310264     EM   NaN         0  18/08/2020 21:27     1  10.16

      gamelength          t1_playerid   t1_ban1  ... t2p5_monsterkills  \
0           2220       SANDBOX Gaming   LeBlanc  ...              27.0
1           2227                   T1    Syndra  ...              42.0
2           1711                   T1   LeBlanc  ...               8.0
3           1999                   T1    Rumble  ...              16.0
4           1812                  DRX    Qiyana  ...              27.0
...          ...                  ...       ...  ...               ...
5144        2075               Racoon   Caitlyn  ...              12.0
5145        2095      SINNERS Esports      Shen  ...               8.0
5146        2879     Team GamerLegion   Nidalee  ...              10.0
5147        1874            G2 Arctic  Cho'Gath  ...               1.0
5148        1808  Intrepid Fox Gaming     Akali  ...               0.0

     t2p5_monsterkillsownjungle t2p5_monsterkillsenemyjungle t2p5_cspm  \
0                          18.0                          0.0    8.2162
1                          15.0                          5.0    8.5406
2                           1.0                          0.0    8.2759
3                           4.0                          9.0    9.4247
4                          12.0                          4.0    8.9404
...                         ...                          ...       ...
5144                        8.0                          4.0    6.9976
5145                        0.0                          4.0    4.4105
5146                       10.0                          0.0    7.0441
5147                        1.0                          0.0    6.1473
5148                        0.0                          0.0    7.6991

      t2p5_goldat10  t2p5pat10  t2p5_csat10  t2p5_goldat15  t2p5pat15  \
0            2845.0     4432.0         65.0         4723.0     7202.0
1            3657.0     5135.0         93.0         6627.0     8784.0
2            3282.0     4851.0         90.0         5252.0     7933.0
3            3351.0     4671.0         92.0         5190.0     7374.0
4            3587.0     4809.0         88.0         5114.0     7078.0
...             ...        ...          ...            ...        ...
5144         3613.0     4564.0         83.0         5159.0     6917.0
5145         2509.0     3346.0         49.0         4212.0     4791.0
5146         2995.0     4173.0         54.0         4536.0     6535.0
5147         3177.0     4291.0         57.0         5139.0     7260.0
5148         3027.0     4252.0         74.0         4764.0     7047.0

      t2p5_csat15
0           118.0
1           162.0
2           150.0
3           144.0
4           134.0
...           ...
5144        127.0
5145         72.0
5146         93.0
5147        109.0
5148        124.0

[5149 rows x 408 columns]>

In [5]:
S10_dataset.head()

,gameId,league,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
0,1241318,KeSPA,NaN,0,03/01/2020 7:33,1,9.24,2220,SANDBOX Gaming,LeBlanc,...,27.0,18.0,0.0,8.2162,2845.0,4432.0,65.0,4723.0,7202.0,118.0
1,1241322,KeSPA,NaN,0,03/01/2020 9:00,2,9.24,2227,T1,Syndra,...,42.0,15.0,5.0,8.5406,3657.0,5135.0,93.0,6627.0,8784.0,162.0
2,1241324,KeSPA,NaN,0,03/01/2020 10:05,3,9.24,1711,T1,LeBlanc,...,8.0,1.0,0.0,8.2759,3282.0,4851.0,90.0,5252.0,7933.0,150.0
3,1241328,KeSPA,NaN,0,03/01/2020 10:57,4,9.24,1999,T1,Rumble,...,16.0,4.0,9.0,9.4247,3351.0,4671.0,92.0,5190.0,7374.0,144.0
4,1241386,KeSPA,NaN,0,04/01/2020 5:33,1,9.24,1812,DRX,Qiyana,...,27.0,12.0,4.0,8.9404,3587.0,4809.0,88.0,5114.0,7078.0,134.0

In [78]:
# Imprimo el nombre de todas las columnas saber cuales son todas las columnas
for colums in S10_dataset.columns:
    print(colums)

gameId
league
split
playoffs
date
game
patch
gamelength
t1_playerid
t1_ban1
t1_ban2
t1_ban3
t1_ban4
t1_ban5
t1_result
t1_firstblood
t1_firstdragon
t1_dragons
t1_elementaldrakes
t1_infernals
t1_mountains
t1_clouds
t1_oceans
t1_elders
t1_firstherald
t1_heralds
t1_firstbaron
t1_barons
t1_firsttower
t1_towers
t1_firstmidtower
t1_firsttothreetowers
t1_inhibitors
t2_playerid
t2_ban1
t2_ban2
t2_ban3
t2_ban4
t2_ban5
t2_result
t2_firstblood
t2_firstdragon
t2_dragons
t2_elementaldrakes
t2_infernals
t2_mountains
t2_clouds
t2_oceans
t2_elders
t2_firstherald
t2_heralds
t2_firstbaron
t2_barons
t2_firsttower
t2_towers
t2_firstmidtower
t2_firsttothreetowers
t2_inhibitors
t1p1_position
t1p1_player
t1p1_team
t1p1_champion
t1p1_kills
t1p1_deaths
t1p1_assists
t1p1_firstblood
t1p1_firstbloodkill
t1p1_firstbloodassist
t1p1_firstbloodvictim
t1p1_damagetochampions
t1p1_dpm
t1p1_wardsplaced
t1p1_wpm
t1p1_wardskilled
t1p1_wcpm
t1p1_controlwardsbought
t1p1_visionscore
t1p1_vspm
t1p1_totalgold
t1p1_earnedgold
t1p1_earned gpm
t1p1_goldspent
t1p1_minionkills
t1p1_monsterkills
t1p1_monsterkillsownjungle
t1p1_monsterkillsenemyjungle
t1p1_cspm
t1p1_goldat10
t1p1pat10
t1p1_csat10
t1p1_goldat15
t1p1pat15
t1p1_csat15
t1p2_position
t1p2_player
t1p2_team
t1p2_champion
t1p2_kills
t1p2_deaths
t1p2_assists
t1p2_firstblood
t1p2_firstbloodkill
t1p2_firstbloodassist
t1p2_firstbloodvictim
t1p2_damagetochampions
t1p2_dpm
t1p2_wardsplaced
t1p2_wpm
t1p2_wardskilled
t1p2_wcpm
t1p2_controlwardsbought
t1p2_visionscore
t1p2_vspm
t1p2_totalgold
t1p2_earnedgold
t1p2_earned gpm
t1p2_goldspent
t1p2_minionkills
t1p2_monsterkills
t1p2_monsterkillsownjungle
t1p2_monsterkillsenemyjungle
t1p2_cspm
t1p2_goldat10
t1p2pat10
t1p2_csat10
t1p2_goldat15
t1p2pat15
t1p2_csat15
t1p3_position
t1p3_player
t1p3_team
t1p3_champion
t1p3_kills
t1p3_deaths
t1p3_assists
t1p3_firstblood
t1p3_firstbloodkill
t1p3_firstbloodassist
t1p3_firstbloodvictim
t1p3_damagetochampions
t1p3_dpm
t1p3_wardsplaced
t1p3_wpm
t1p3_wardskilled
t1p3_wcpm
t1p3_controlwardsbought
t1p3_visionscore
t1p3_vspm
t1p3_totalgold
t1p3_earnedgold
t1p3_earned gpm
t1p3_goldspent
t1p3_minionkills
t1p3_monsterkills
t1p3_monsterkillsownjungle
t1p3_monsterkillsenemyjungle
t1p3_cspm
t1p3_goldat10
t1p3pat10
t1p3_csat10
t1p3_goldat15
t1p3pat15
t1p3_csat15
t1p4_position
t1p4_player
t1p4_team
t1p4_champion
t1p4_kills
t1p4_deaths
t1p4_assists
t1p4_firstblood
t1p4_firstbloodkill
t1p4_firstbloodassist
t1p4_firstbloodvictim
t1p4_damagetochampions
t1p4_dpm
t1p4_wardsplaced
t1p4_wpm
t1p4_wardskilled
t1p4_wcpm
t1p4_controlwardsbought
t1p4_visionscore
t1p4_vspm
t1p4_totalgold
t1p4_earnedgold
t1p4_earned gpm
t1p4_goldspent
t1p4_minionkills
t1p4_monsterkills
t1p4_monsterkillsownjungle
t1p4_monsterkillsenemyjungle
t1p4_cspm
t1p4_goldat10
t1p4pat10
t1p4_csat10
t1p4_goldat15
t1p4pat15
t1p4_csat15
t1p5_position
t1p5_player
t1p5_team
t1p5_champion
t1p5_kills
t1p5_deaths
t1p5_assists
t1p5_firstblood
t1p5_firstbloodkill
t1p5_firstbloodassist
t1p5_firstbloodvictim
t1p5_damagetochampions
t1p5_dpm
t1p5_wardsplaced
t1p5_wpm
t1p5_wardskilled
t1p5_wcpm
t1p5_controlwardsbought
t1p5_visionscore
t1p5_vspm
t1p5_totalgold
t1p5_earnedgold
t1p5_earned gpm
t1p5_goldspent
t1p5_minionkills
t1p5_monsterkills
t1p5_monsterkillsownjungle
t1p5_monsterkillsenemyjungle
t1p5_cspm
t1p5_goldat10
t1p5pat10
t1p5_csat10
t1p5_goldat15
t1p5pat15
t1p5_csat15
t2p1_position
t2p1_player
t2p1_team
t2p1_champion
t2p1_kills
t2p1_deaths
t2p1_assists
t2p1_firstblood
t2p1_firstbloodkill
t2p1_firstbloodassist
t2p1_firstbloodvictim
t2p1_damagetochampions
t2p1_dpm
t2p1_wardsplaced
t2p1_wpm
t2p1_wardskilled
t2p1_wcpm
t2p1_controlwardsbought
t2p1_visionscore
t2p1_vspm
t2p1_totalgold
t2p1_earnedgold
t2p1_earned gpm
t2p1_goldspent
t2p1_minionkills
t2p1_monsterkills
t2p1_monsterkillsownjungle
t2p1_monsterkillsenemyjungle
t2p1_cspm
t2p1_goldat10
t2p1pat10
t2p1_csat10
t2p1_goldat15
t2p1pat15
t2p1_csat15
t2p2_position
t2p2_player
t2p2_team
t2p2_champion
t2p2_kills
t2p2_deaths
t2p2_assists
t2p2_firstblood
t2p2_firstbloodkill
t2p2_firstbloodassist
t2p2_firstbloodvictim
t2p2_damagetochampions
t2p2_dpm
t2p2_wardsplaced
t2p2_wpm
t2p2_wardskilled
t2p2_wcpm
t2p2_controlwardsbought
t2p2_visionscore
t2p2_vspm
t2p2_totalgold
t2p2_earnedgold
t2p2_earned gpm
t2p2_goldspent
t2p2_minionkills
t2p2_monsterkills
t2p2_monsterkillsownjungle
t2p2_monsterkillsenemyjungle
t2p2_cspm
t2p2_goldat10
t2p2pat10
t2p2_csat10
t2p2_goldat15
t2p2pat15
t2p2_csat15
t2p3_position
t2p3_player
t2p3_team
t2p3_champion
t2p3_kills
t2p3_deaths
t2p3_assists
t2p3_firstblood
t2p3_firstbloodkill
t2p3_firstbloodassist
t2p3_firstbloodvictim
t2p3_damagetochampions
t2p3_dpm
t2p3_wardsplaced
t2p3_wpm
t2p3_wardskilled
t2p3_wcpm
t2p3_controlwardsbought
t2p3_visionscore
t2p3_vspm
t2p3_totalgold
t2p3_earnedgold
t2p3_earned gpm
t2p3_goldspent
t2p3_minionkills
t2p3_monsterkills
t2p3_monsterkillsownjungle
t2p3_monsterkillsenemyjungle
t2p3_cspm
t2p3_goldat10
t2p3pat10
t2p3_csat10
t2p3_goldat15
t2p3pat15
t2p3_csat15
t2p4_position
t2p4_player
t2p4_team
t2p4_champion
t2p4_kills
t2p4_deaths
t2p4_assists
t2p4_firstblood
t2p4_firstbloodkill
t2p4_firstbloodassist
t2p4_firstbloodvictim
t2p4_damagetochampions
t2p4_dpm
t2p4_wardsplaced
t2p4_wpm
t2p4_wardskilled
t2p4_wcpm
t2p4_controlwardsbought
t2p4_visionscore
t2p4_vspm
t2p4_totalgold
t2p4_earnedgold
t2p4_earned gpm
t2p4_goldspent
t2p4_minionkills
t2p4_monsterkills
t2p4_monsterkillsownjungle
t2p4_monsterkillsenemyjungle
t2p4_cspm
t2p4_goldat10
t2p4pat10
t2p4_csat10
t2p4_goldat15
t2p4pat15
t2p4_csat15
t2p5_position
t2p5_player
t2p5_team
t2p5_champion
t2p5_kills
t2p5_deaths
t2p5_assists
t2p5_firstblood
t2p5_firstbloodkill
t2p5_firstbloodassist
t2p5_firstbloodvictim
t2p5_damagetochampions
t2p5_dpm
t2p5_wardsplaced
t2p5_wpm
t2p5_wardskilled
t2p5_wcpm
t2p5_controlwardsbought
t2p5_visionscore
t2p5_vspm
t2p5_totalgold
t2p5_earnedgold
t2p5_earned gpm
t2p5_goldspent
t2p5_minionkills
t2p5_monsterkills
t2p5_monsterkillsownjungle
t2p5_monsterkillsenemyjungle
t2p5_cspm
t2p5_goldat10
t2p5pat10
t2p5_csat10
t2p5_goldat15
t2p5pat15
t2p5_csat15

In [75]:
# Veo los valores nulos
S10_dataset.isnull()

,gameId,league,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5145,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5146,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5147,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5148,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [76]:
# Solo hay NaN en la columna split
# Por conocimiento, se que son partidos de pre y pos temporada por lo tanto los saco
S10_dataset["split"][S10_dataset["split"].notnull()]

10      Spring
11      Spring
12      Spring
13      Spring
14      Spring
         ...
5099    Summer
5100    Summer
5101    Summer
5102    Summer
5103    Summer
Name: split, Length: 3566, dtype: object

In [77]:
S10_dataset.dropna()

,gameId,league,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
10,5655-7249,LPL,Spring,0,13/01/2020 9:22,1,10.10,2640,Invictus Gaming,Pantheon,...,8.0,0.0,0.0,3.5682,2898.0,4137.0,59.0,4738.0,6159.0,84.0
12,5656-7252,LPL,Spring,0,13/01/2020 11:26,1,10.10,2283,LGD Gaming,Pantheon,...,14.0,10.0,0.0,6.7806,2963.0,4413.0,71.0,4100.0,5983.0,94.0
13,5655-7251,LPL,Spring,0,13/01/2020 11:31,3,10.10,1943,Invictus Gaming,Pantheon,...,21.0,17.0,1.0,8.1215,3375.0,5040.0,84.0,5463.0,7782.0,131.0
14,5656-7253,LPL,Spring,0,13/01/2020 12:29,2,10.10,1517,LNG Esports,Qiyana,...,8.0,8.0,0.0,8.4245,3070.0,4198.0,65.0,5022.0,7376.0,125.0
15,5656-7254,LPL,Spring,0,13/01/2020 13:17,3,10.10,2116,LGD Gaming,Pantheon,...,31.0,20.0,3.0,7.4291,3324.0,4885.0,90.0,5195.0,6985.0,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5098,1441104,LCS,Summer,1,16/08/2020 20:35,2,10.16,2862,100 Thieves,Sett,...,56.0,47.0,1.0,7.2327,2692.0,3908.0,57.0,4316.0,5285.0,74.0
5099,1441108,LCS,Summer,1,16/08/2020 21:47,3,10.16,1443,Evil Geniuses,Olaf,...,6.0,4.0,0.0,7.2765,3034.0,4457.0,60.0,4913.0,6973.0,105.0
5101,1441166,CK,Summer,0,17/08/2020 9:28,2,10.16,1784,RunAway,Sett,...,12.0,5.0,0.0,6.4238,2847.0,3922.0,62.0,4178.0,5803.0,95.0
5102,1441175,CK,Summer,0,17/08/2020 10:24,1,10.16,2362,Awesome Spear,Twisted Fate,...,10.0,3.0,1.0,8.6622,3295.0,4822.0,87.0,6376.0,8045.0,138.0
5103,1441198,CK,Summer,0,17/08/2020 11:54,2,10.16,1687,Jin Air Green Wings,Caitlyn,...,0.0,0.0,0.0,6.5797,2924.0,4674.0,68.0,4768.0,7607.0,126.0

In [81]:
# Vemos la diferencia entre victorias de lados
S10_dataset["t1_result"].value_counts()

t1_result
1    2725
0    2424
Name: count, dtype: int64

In [90]:
S10_dataset["split"].unique()

array([nan, 'Spring', 'Split 1', 'Winter', 'Opening', 'Split 2', 'Summer',
       'Closing'], dtype=object)

In [94]:
S10_dataset[S10_dataset["split"] == "Split 1"].groupby("league").nunique()

,gameId,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,t1_ban2,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
league,,,,,,,,,,,,,,,,,,,,,
CBLOL,93,1,2,93,3,6,89,8,30,28,...,34,22,15,93,88,88,40,93,91,47
OPL,109,1,2,109,5,6,106,8,31,31,...,39,28,13,109,104,104,42,108,107,52

In [95]:
S10_dataset[S10_dataset["split"] == "Winter"].groupby("league").nunique()

,gameId,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,t1_ban2,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
league,,,,,,,,,,,,,,,,,,,,,
TCL,91,1,2,91,5,7,88,9,32,31,...,37,28,19,91,85,87,38,89,89,48

In [96]:
S10_dataset[S10_dataset["split"] == "Opening"].groupby("league").nunique()

,gameId,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,t1_ban2,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
league,,,,,,,,,,,,,,,,,,,,,
LLA,79,1,2,79,5,5,76,8,24,26,...,36,26,13,79,75,77,37,76,78,41

In [114]:
S10_dataset["league"].unique()

array(['KeSPA', 'LPL', 'LFL', 'LEC', 'LCS.A', 'CBLOL', 'LCS', 'OPL',
       'VCS', 'TCL', 'TRA', 'BRCC', 'LCK', 'CK', 'LJL', 'LLA', 'LCL',
       'PCS', 'EM', 'LDL', 'OCS', 'Riot', 'MSC'], dtype=object)

In [126]:
LPL = S10_dataset[S10_dataset["league"] == "LPL"]

In [127]:
LPL.head()

,gameId,league,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
10,5655-7249,LPL,Spring,0,13/01/2020 9:22,1,10.1,2640,Invictus Gaming,Pantheon,...,8.0,0.0,0.0,3.5682,2898.0,4137.0,59.0,4738.0,6159.0,84.0
11,5655-7250,LPL,Spring,0,13/01/2020 10:37,2,10.1,1814,Invictus Gaming,Pantheon,...,24.0,12.0,0.0,7.6075,3492.0,4698.0,63.0,6404.0,8095.0,101.0
12,5656-7252,LPL,Spring,0,13/01/2020 11:26,1,10.1,2283,LGD Gaming,Pantheon,...,14.0,10.0,0.0,6.7806,2963.0,4413.0,71.0,4100.0,5983.0,94.0
13,5655-7251,LPL,Spring,0,13/01/2020 11:31,3,10.1,1943,Invictus Gaming,Pantheon,...,21.0,17.0,1.0,8.1215,3375.0,5040.0,84.0,5463.0,7782.0,131.0
14,5656-7253,LPL,Spring,0,13/01/2020 12:29,2,10.1,1517,LNG Esports,Qiyana,...,8.0,8.0,0.0,8.4245,3070.0,4198.0,65.0,5022.0,7376.0,125.0

In [129]:
LPL.info

<bound method DataFrame.info of          gameId league   split  playoffs              date  game  patch  \
10    5655-7249    LPL  Spring         0   13/01/2020 9:22     1  10.10
11    5655-7250    LPL  Spring         0  13/01/2020 10:37     2  10.10
12    5656-7252    LPL  Spring         0  13/01/2020 11:26     1  10.10
13    5655-7251    LPL  Spring         0  13/01/2020 11:31     3  10.10
14    5656-7253    LPL  Spring         0  13/01/2020 12:29     2  10.10
...         ...    ...     ...       ...               ...   ...    ...
5014  6682-8838    LPL  Summer         1  15/08/2020 11:04     3  10.16
5021  6682-8839    LPL  Summer         1  15/08/2020 11:58     4  10.16
5065  6683-8851    LPL  Summer         1   16/08/2020 9:18     1  10.16
5070  6683-8852    LPL  Summer         1  16/08/2020 10:00     2  10.16
5074  6683-8854    LPL  Summer         1  16/08/2020 10:42     3  10.16

      gamelength      t1_playerid   t1_ban1  ... t2p5_monsterkills  \
10          2640  Invictus Gaming  Pantheon  ...               8.0
11          1814  Invictus Gaming  Pantheon  ...              24.0
12          2283       LGD Gaming  Pantheon  ...              14.0
13          1943  Invictus Gaming  Pantheon  ...              21.0
14          1517      LNG Esports    Qiyana  ...               8.0
...          ...              ...       ...  ...               ...
5014        2080     Victory Five   Caitlyn  ...              13.0
5021        1350           Suning      Sett  ...              24.0
5065        1472  Invictus Gaming  Renekton  ...              20.0
5070        1433  Invictus Gaming  Renekton  ...               4.0
5074        1580       LGD Gaming   Orianna  ...               7.0

     t2p5_monsterkillsownjungle t2p5_monsterkillsenemyjungle t2p5_cspm  \
10                          0.0                          0.0    3.5682
11                         12.0                          0.0    7.6075
12                         10.0                          0.0    6.7806
13                         17.0                          1.0    8.1215
14                          8.0                          0.0    8.4245
...                         ...                          ...       ...
5014                       11.0                          0.0    7.0962
5021                       20.0                          0.0    8.4444
5065                       13.0                          4.0    8.1522
5070                        3.0                          0.0    7.3273
5074                        5.0                          1.0    9.4557

      t2p5_goldat10  t2p5pat10  t2p5_csat10  t2p5_goldat15  t2p5pat15  \
10           2898.0     4137.0         59.0         4738.0     6159.0
11           3492.0     4698.0         63.0         6404.0     8095.0
12           2963.0     4413.0         71.0         4100.0     5983.0
13           3375.0     5040.0         84.0         5463.0     7782.0
14           3070.0     4198.0         65.0         5022.0     7376.0
...             ...        ...          ...            ...        ...
5014         3338.0     4926.0         83.0         5917.0     7252.0
5021         2757.0     3659.0         65.0         4600.0     6274.0
5065         3014.0     4488.0         67.0         5377.0     7263.0
5070         2976.0     4430.0         76.0         4524.0     6784.0
5074         2976.0     4430.0         76.0         4524.0     6784.0

      t2p5_csat15
10           84.0
11          101.0
12           94.0
13          131.0
14          125.0
...           ...
5014        125.0
5021        121.0
5065        107.0
5070        113.0
5074        113.0

[711 rows x 408 columns]>

In [137]:
LCK = S10_dataset[S10_dataset["league"] == "LCK"]
LCK.info

<bound method DataFrame.info of        gameId league   split  playoffs              date  game  patch  \
184   1302595    LCK  Spring         0   05/02/2020 6:34     1  10.02
185   1302628    LCK  Spring         0   05/02/2020 9:00     2  10.02
186   1302635    LCK  Spring         0  05/02/2020 10:14     3  10.02
187   1302651    LCK  Spring         0  05/02/2020 11:33     1  10.02
188   1292960    LCK  Spring         0  05/02/2020 13:10     2  10.02
...       ...    ...     ...       ...               ...   ...    ...
5054  1405416    LCK  Summer         0   16/08/2020 6:26     1  10.15
5060  1405437    LCK  Summer         0   16/08/2020 8:42     2  10.15
5066  1405442    LCK  Summer         0   16/08/2020 9:35     1  10.15
5080  1405467    LCK  Summer         0  16/08/2020 11:42     2  10.15
5087  1405477    LCK  Summer         0  16/08/2020 12:38     3  10.15

      gamelength          t1_playerid       t1_ban1  ... t2p5_monsterkills  \
184         2441                   T1        Syndra  ...              42.0
185         2870        DAMWON Gaming       Rek'Sai  ...              32.0
186         2837                   T1   Mordekaiser  ...              56.0
187         1748           KT Rolster        Irelia  ...               9.0
188         1609                Gen.G          Olaf  ...              13.0
...          ...                  ...           ...  ...               ...
5054        2093  Hanwha Life Esports         Karma  ...              17.0
5060        1705                Gen.G          Bard  ...               4.0
5066        2067                  DRX        Qiyana  ...              25.0
5080        1807    SeolHaeOne Prince  Twisted Fate  ...               8.0
5087        2376                  DRX        Qiyana  ...               7.0

     t2p5_monsterkillsownjungle t2p5_monsterkillsenemyjungle t2p5_cspm  \
184                        25.0                          4.0    7.9394
185                        24.0                          4.0    7.9024
186                        27.0                         15.0   10.1727
187                         9.0                          0.0    7.7231
188                        12.0                          1.0    7.8682
...                         ...                          ...       ...
5054                        8.0                          0.0    7.7401
5060                        1.0                          0.0    7.0733
5066                       12.0                          5.0    8.0406
5080                        8.0                          0.0    7.8694
5087                        3.0                          0.0    7.5505

      t2p5_goldat10  t2p5pat10  t2p5_csat10  t2p5_goldat15  t2p5pat15  \
184          3541.0     4810.0         81.0         5188.0     7068.0
185          3477.0     4650.0         75.0         5558.0     8287.0
186          2997.0     4417.0         73.0         4730.0     7102.0
187          3032.0     4370.0         77.0         4717.0     7416.0
188          3021.0     4535.0         73.0         4907.0     7626.0
...             ...        ...          ...            ...        ...
5054         3230.0     4674.0         84.0         4899.0     7213.0
5060         2816.0     3903.0         67.0         4272.0     5733.0
5066         2950.0     4862.0         75.0         5129.0     7763.0
5080         3195.0     4708.0         83.0         4819.0     7100.0
5087         3271.0     4982.0         90.0         5184.0     7265.0

      t2p5_csat15
184         126.0
185         128.0
186         123.0
187         129.0
188         127.0
...           ...
5054        134.0
5060        103.0
5066        126.0
5080        131.0
5087        127.0

[441 rows x 408 columns]>

In [138]:
LEC = S10_dataset[S10_dataset["league"] == "LEC"]