# Exploración inicial dataset S10

## Librerias

In [2]:
import pandas as pd
import numpy as np
import scipy as sp
from datetime import datetime

## Carga de datos

In [3]:
S10_dataset = pd.read_csv("C:\\Users\\camil\\Downloads\\The Bridge\\08_19_2020.csv", sep =";")

## Exploración inicial

In [7]:
S10_dataset.head()

,gameId,league,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
0,1241318,KeSPA,NaN,0,03/01/2020 7:33,1,9.24,2220,SANDBOX Gaming,LeBlanc,...,27.0,18.0,0.0,8.2162,2845.0,4432.0,65.0,4723.0,7202.0,118.0
1,1241322,KeSPA,NaN,0,03/01/2020 9:00,2,9.24,2227,T1,Syndra,...,42.0,15.0,5.0,8.5406,3657.0,5135.0,93.0,6627.0,8784.0,162.0
2,1241324,KeSPA,NaN,0,03/01/2020 10:05,3,9.24,1711,T1,LeBlanc,...,8.0,1.0,0.0,8.2759,3282.0,4851.0,90.0,5252.0,7933.0,150.0
3,1241328,KeSPA,NaN,0,03/01/2020 10:57,4,9.24,1999,T1,Rumble,...,16.0,4.0,9.0,9.4247,3351.0,4671.0,92.0,5190.0,7374.0,144.0
4,1241386,KeSPA,NaN,0,04/01/2020 5:33,1,9.24,1812,DRX,Qiyana,...,27.0,12.0,4.0,8.9404,3587.0,4809.0,88.0,5114.0,7078.0,134.0

In [5]:
S10_dataset.dtypes

gameId            object
league            object
split             object
playoffs           int64
date              object
                  ...
t2p5pat10        float64
t2p5_csat10      float64
t2p5_goldat15    float64
t2p5pat15        float64
t2p5_csat15      float64
Length: 408, dtype: object

In [6]:
for tipos in S10_dataset.dtypes:
    print(tipos)

object
object
object
int64
object
int64
float64
int64
object
object
object
object
object
object
int64
float64
float64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
float64
int64
float64
float64
float64
object
object
object
object
object
object
int64
float64
float64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
float64
int64
float64
float64
float64
object
object
object
object
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
object
object
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
object
object
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
object
object
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
object
object
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
object
object
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
object
object
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
object
object
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
object
object
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
object
object
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

In [26]:
S10_dataset.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5149 entries, 0 to 5148
Data columns (total 408 columns):
 #    Column                        Non-Null Count  Dtype
---   ------                        --------------  -----
 0    gameId                        5148 non-null   object
 1    league                        5149 non-null   object
 2    split                         3566 non-null   object
 3    playoffs                      5149 non-null   int64
 4    date                          5149 non-null   object
 5    game                          5149 non-null   int64
 6    patch                         5149 non-null   float64
 7    gamelength                    5149 non-null   int64
 8    t1_playerid                   5149 non-null   object
 9    t1_ban1                       4839 non-null   object
 10   t1_ban2                       4843 non-null   object
 11   t1_ban3                       5116 non-null   object
 12   t1_ban4                       4833 non-null   object
 13   t1_ban5                       4821 non-null   object
 14   t1_result                     5149 non-null   int64
 15   t1_firstblood                 5148 non-null   float64
 16   t1_firstdragon                5095 non-null   float64
 17   t1_dragons                    5149 non-null   int64
 18   t1_elementaldrakes            5067 non-null   float64
 19   t1_infernals                  5067 non-null   float64
 20   t1_mountains                  5067 non-null   float64
 21   t1_clouds                     5067 non-null   float64
 22   t1_oceans                     5067 non-null   float64
 23   t1_elders                     5098 non-null   float64
 24   t1_firstherald                5098 non-null   float64
 25   t1_heralds                    5015 non-null   float64
 26   t1_firstbaron                 4964 non-null   float64
 27   t1_barons                     5149 non-null   int64
 28   t1_firsttower                 5119 non-null   float64
 29   t1_towers                     5149 non-null   int64
 30   t1_firstmidtower              5091 non-null   float64
 31   t1_firsttothreetowers         5098 non-null   float64
 32   t1_inhibitors                 5098 non-null   float64
 33   t2_playerid                   5149 non-null   object
 34   t2_ban1                       5115 non-null   object
 35   t2_ban2                       5118 non-null   object
 36   t2_ban3                       5111 non-null   object
 37   t2_ban4                       5102 non-null   object
 38   t2_ban5                       5090 non-null   object
 39   t2_result                     5149 non-null   int64
 40   t2_firstblood                 5148 non-null   float64
 41   t2_firstdragon                5095 non-null   float64
 42   t2_dragons                    5149 non-null   int64
 43   t2_elementaldrakes            5067 non-null   float64
 44   t2_infernals                  5067 non-null   float64
 45   t2_mountains                  5067 non-null   float64
 46   t2_clouds                     5067 non-null   float64
 47   t2_oceans                     5067 non-null   float64
 48   t2_elders                     5098 non-null   float64
 49   t2_firstherald                5098 non-null   float64
 50   t2_heralds                    5015 non-null   float64
 51   t2_firstbaron                 4964 non-null   float64
 52   t2_barons                     5149 non-null   int64
 53   t2_firsttower                 5119 non-null   float64
 54   t2_towers                     5149 non-null   int64
 55   t2_firstmidtower              5091 non-null   float64
 56   t2_firsttothreetowers         5098 non-null   float64
 57   t2_inhibitors                 5098 non-null   float64
 58   t1p1_position                 5149 non-null   object
 59   t1p1_player                   5149 non-null   object
 60   t1p1_team                     5149 non-null   object
 61   t1p1_champion                 5149 non-null   object
 62   t1p1_kills                    5149 non-null   int64
 63   t1p1_deaths                   5149 non-null   int64
 64   t1p1_assists                  5149 non-null   int64
 65   t1p1_firstblood               5044 non-null   float64
 66   t1p1_firstbloodkill           5118 non-null   float64
 67   t1p1_firstbloodassist         5097 non-null   float64
 68   t1p1_firstbloodvictim         5097 non-null   float64
 69   t1p1_damagetochampions        5148 non-null   float64
 70   t1p1_dpm                      5148 non-null   float64
 71   t1p1_wardsplaced              5148 non-null   float64
 72   t1p1_wpm                      5148 non-null   float64
 73   t1p1_wardskilled              5148 non-null   float64
 74   t1p1_wcpm                     5148 non-null   float64
 75   t1p1_controlwardsbought       5148 non-null   float64
 76   t1p1_visionscore              5044 non-null   float64
 77   t1p1_vspm                     5044 non-null   float64
 78   t1p1_totalgold                5149 non-null   int64
 79   t1p1_earnedgold               5149 non-null   int64
 80   t1p1_earned gpm               5149 non-null   float64
 81   t1p1_goldspent                5127 non-null   float64
 82   t1p1_minionkills              5148 non-null   float64
 83   t1p1_monsterkills             5148 non-null   float64
 84   t1p1_monsterkillsownjungle    5148 non-null   float64
 85   t1p1_monsterkillsenemyjungle  5148 non-null   float64
 86   t1p1_cspm                     5149 non-null   float64
 87   t1p1_goldat10                 5095 non-null   float64
 88   t1p1pat10                     5095 non-null   float64
 89   t1p1_csat10                   5095 non-null   float64
 90   t1p1_goldat15                 5091 non-null   float64
 91   t1p1pat15                     5091 non-null   float64
 92   t1p1_csat15                   5091 non-null   float64
 93   t1p2_position                 5149 non-null   object
 94   t1p2_player                   5149 non-null   object
 95   t1p2_team                     5149 non-null   object
 96   t1p2_champion                 5149 non-null   object
 97   t1p2_kills                    5149 non-null   int64
 98   t1p2_deaths                   5149 non-null   int64
 99   t1p2_assists                  5149 non-null   int64
 100  t1p2_firstblood               5044 non-null   float64
 101  t1p2_firstbloodkill           5118 non-null   float64
 102  t1p2_firstbloodassist         5097 non-null   float64
 103  t1p2_firstbloodvictim         5097 non-null   float64
 104  t1p2_damagetochampions        5148 non-null   float64
 105  t1p2_dpm                      5148 non-null   float64
 106  t1p2_wardsplaced              5148 non-null   float64
 107  t1p2_wpm                      5148 non-null   float64
 108  t1p2_wardskilled              5148 non-null   float64
 109  t1p2_wcpm                     5148 non-null   float64
 110  t1p2_controlwardsbought       5148 non-null   float64
 111  t1p2_visionscore              5044 non-null   float64
 112  t1p2_vspm                     5044 non-null   float64
 113  t1p2_totalgold                5149 non-null   int64
 114  t1p2_earnedgold               5149 non-null   int64
 115  t1p2_earned gpm               5149 non-null   float64
 116  t1p2_goldspent                5127 non-null   float64
 117  t1p2_minionkills              5148 non-null   float64
 118  t1p2_monsterkills             5148 non-null   float64
 119  t1p2_monsterkillsownjungle    5148 non-null   float64
 120  t1p2_monsterkillsenemyjungle  5148 non-null   float64
 121  t1p2_cspm                     5149 non-null   float64
 122  t1p2_goldat10                 5095 non-null   float64
 123  t1p2pat10                     5095 non-null   float64
 124  t1p2_csat10                   5095 non-null   float64
 125  t1p2_goldat15                 5091 non-null   float64
 126  t1p2pat15                     5091 non-null   float64
 127  t1p2_csat15                   5091 non-null   float64
 128  t1p3_position                 5149 non-null   object
 129  t1p3_player                   5149 non-null   object
 130  t1p3_team                     5149 non-null   object
 131  t1p3_champion                 5149 non-null   object
 132  t1p3_kills                    5149 non-null   int64
 133  t1p3_deaths                   5149 non-null   int64
 134  t1p3_assists                  5149 non-null   int64
 135  t1p3_firstblood               5044 non-null   float64
 136  t1p3_firstbloodkill           5118 non-null   float64
 137  t1p3_firstbloodassist         5097 non-null   float64
 138  t1p3_firstbloodvictim         5097 non-null   float64
 139  t1p3_damagetochampions        5148 non-null   float64
 140  t1p3_dpm                      5148 non-null   float64
 141  t1p3_wardsplaced              5148 non-null   float64
 142  t1p3_wpm                      5148 non-null   float64
 143  t1p3_wardskilled              5148 non-null   float64
 144  t1p3_wcpm                     5148 non-null   float64
 145  t1p3_controlwardsbought       5148 non-null   float64
 146  t1p3_visionscore              5044 non-null   float64
 147  t1p3_vspm                     5044 non-null   float64
 148  t1p3_totalgold                5149 non-null   int64
 149  t1p3_earnedgold               5149 non-null   int64
 150  t1p3_earned gpm               5149 non-null   float64
 151  t1p3_goldspent                5127 non-null   float64
 152  t1p3_minionkills              5148 non-null   float64
 153  t1p3_monsterkills             5148 non-null   float64
 154  t1p3_monsterkillsownjungle    5148 non-null   float64
 155  t1p3_monsterkillsenemyjungle  5148 non-null   float64
 156  t1p3_cspm                     5149 non-null   float64
 157  t1p3_goldat10                 5095 non-null   float64
 158  t1p3pat10                     5095 non-null   float64
 159  t1p3_csat10                   5095 non-null   float64
 160  t1p3_goldat15                 5091 non-null   float64
 161  t1p3pat15                     5091 non-null   float64
 162  t1p3_csat15                   5091 non-null   float64
 163  t1p4_position                 5149 non-null   object
 164  t1p4_player                   5149 non-null   object
 165  t1p4_team                     5149 non-null   object
 166  t1p4_champion                 5149 non-null   object
 167  t1p4_kills                    5149 non-null   int64
 168  t1p4_deaths                   5149 non-null   int64
 169  t1p4_assists                  5149 non-null   int64
 170  t1p4_firstblood               5044 non-null   float64
 171  t1p4_firstbloodkill           5118 non-null   float64
 172  t1p4_firstbloodassist         5097 non-null   float64
 173  t1p4_firstbloodvictim         5097 non-null   float64
 174  t1p4_damagetochampions        5148 non-null   float64
 175  t1p4_dpm                      5148 non-null   float64
 176  t1p4_wardsplaced              5148 non-null   float64
 177  t1p4_wpm                      5148 non-null   float64
 178  t1p4_wardskilled              5148 non-null   float64
 179  t1p4_wcpm                     5148 non-null   float64
 180  t1p4_controlwardsbought       5148 non-null   float64
 181  t1p4_visionscore              5044 non-null   float64
 182  t1p4_vspm                     5044 non-null   float64
 183  t1p4_totalgold                5149 non-null   int64
 184  t1p4_earnedgold               5149 non-null   int64
 185  t1p4_earned gpm               5149 non-null   float64
 186  t1p4_goldspent                5127 non-null   float64
 187  t1p4_minionkills              5148 non-null   float64
 188  t1p4_monsterkills             5148 non-null   float64
 189  t1p4_monsterkillsownjungle    5148 non-null   float64
 190  t1p4_monsterkillsenemyjungle  5148 non-null   float64
 191  t1p4_cspm                     5149 non-null   float64
 192  t1p4_goldat10                 5095 non-null   float64
 193  t1p4pat10                     5095 non-null   float64
 194  t1p4_csat10                   5095 non-null   float64
 195  t1p4_goldat15                 5091 non-null   float64
 196  t1p4pat15                     5091 non-null   float64
 197  t1p4_csat15                   5091 non-null   float64
 198  t1p5_position                 5149 non-null   object
 199  t1p5_player                   5149 non-null   object
 200  t1p5_team                     5149 non-null   object
 201  t1p5_champion                 5149 non-null   object
 202  t1p5_kills                    5149 non-null   int64
 203  t1p5_deaths                   5149 non-null   int64
 204  t1p5_assists                  5149 non-null   int64
 205  t1p5_firstblood               5044 non-null   float64
 206  t1p5_firstbloodkill           5118 non-null   float64
 207  t1p5_firstbloodassist         5097 non-null   float64
 208  t1p5_firstbloodvictim         5097 non-null   float64
 209  t1p5_damagetochampions        5148 non-null   float64
 210  t1p5_dpm                      5148 non-null   float64
 211  t1p5_wardsplaced              5148 non-null   float64
 212  t1p5_wpm                      5148 non-null   float64
 213  t1p5_wardskilled              5148 non-null   float64
 214  t1p5_wcpm                     5148 non-null   float64
 215  t1p5_controlwardsbought       5148 non-null   float64
 216  t1p5_visionscore              5044 non-null   float64
 217  t1p5_vspm                     5044 non-null   float64
 218  t1p5_totalgold                5149 non-null   int64
 219  t1p5_earnedgold               5149 non-null   int64
 220  t1p5_earned gpm               5149 non-null   float64
 221  t1p5_goldspent                5127 non-null   float64
 222  t1p5_minionkills              5148 non-null   float64
 223  t1p5_monsterkills             5148 non-null   float64
 224  t1p5_monsterkillsownjungle    5148 non-null   float64
 225  t1p5_monsterkillsenemyjungle  5148 non-null   float64
 226  t1p5_cspm                     5149 non-null   float64
 227  t1p5_goldat10                 5095 non-null   float64
 228  t1p5pat10                     5095 non-null   float64
 229  t1p5_csat10                   5095 non-null   float64
 230  t1p5_goldat15                 5091 non-null   float64
 231  t1p5pat15                     5091 non-null   float64
 232  t1p5_csat15                   5091 non-null   float64
 233  t2p1_position                 5149 non-null   object
 234  t2p1_player                   5149 non-null   object
 235  t2p1_team                     5149 non-null   object
 236  t2p1_champion                 5149 non-null   object
 237  t2p1_kills                    5149 non-null   int64
 238  t2p1_deaths                   5149 non-null   int64
 239  t2p1_assists                  5149 non-null   int64
 240  t2p1_firstblood               5044 non-null   float64
 241  t2p1_firstbloodkill           5118 non-null   float64
 242  t2p1_firstbloodassist         5097 non-null   float64
 243  t2p1_firstbloodvictim         5097 non-null   float64
 244  t2p1_damagetochampions        5148 non-null   float64
 245  t2p1_dpm                      5148 non-null   float64
 246  t2p1_wardsplaced              5148 non-null   float64
 247  t2p1_wpm                      5148 non-null   float64
 248  t2p1_wardskilled              5148 non-null   float64
 249  t2p1_wcpm                     5148 non-null   float64
 250  t2p1_controlwardsbought       5148 non-null   float64
 251  t2p1_visionscore              5044 non-null   float64
 252  t2p1_vspm                     5044 non-null   float64
 253  t2p1_totalgold                5149 non-null   int64
 254  t2p1_earnedgold               5149 non-null   int64
 255  t2p1_earned gpm               5149 non-null   float64
 256  t2p1_goldspent                5127 non-null   float64
 257  t2p1_minionkills              5148 non-null   float64
 258  t2p1_monsterkills             5148 non-null   float64
 259  t2p1_monsterkillsownjungle    5148 non-null   float64
 260  t2p1_monsterkillsenemyjungle  5148 non-null   float64
 261  t2p1_cspm                     5149 non-null   float64
 262  t2p1_goldat10                 5095 non-null   float64
 263  t2p1pat10                     5095 non-null   float64
 264  t2p1_csat10                   5095 non-null   float64
 265  t2p1_goldat15                 5091 non-null   float64
 266  t2p1pat15                     5091 non-null   float64
 267  t2p1_csat15                   5091 non-null   float64
 268  t2p2_position                 5149 non-null   object
 269  t2p2_player                   5149 non-null   object
 270  t2p2_team                     5149 non-null   object
 271  t2p2_champion                 5149 non-null   object
 272  t2p2_kills                    5149 non-null   int64
 273  t2p2_deaths                   5149 non-null   int64
 274  t2p2_assists                  5149 non-null   int64
 275  t2p2_firstblood               5044 non-null   float64
 276  t2p2_firstbloodkill           5118 non-null   float64
 277  t2p2_firstbloodassist         5097 non-null   float64
 278  t2p2_firstbloodvictim         5097 non-null   float64
 279  t2p2_damagetochampions        5148 non-null   float64
 280  t2p2_dpm                      5148 non-null   float64
 281  t2p2_wardsplaced              5148 non-null   float64
 282  t2p2_wpm                      5148 non-null   float64
 283  t2p2_wardskilled              5148 non-null   float64
 284  t2p2_wcpm                     5148 non-null   float64
 285  t2p2_controlwardsbought       5148 non-null   float64
 286  t2p2_visionscore              5044 non-null   float64
 287  t2p2_vspm                     5044 non-null   float64
 288  t2p2_totalgold                5149 non-null   int64
 289  t2p2_earnedgold               5149 non-null   int64
 290  t2p2_earned gpm               5149 non-null   float64
 291  t2p2_goldspent                5127 non-null   float64
 292  t2p2_minionkills              5148 non-null   float64
 293  t2p2_monsterkills             5148 non-null   float64
 294  t2p2_monsterkillsownjungle    5148 non-null   float64
 295  t2p2_monsterkillsenemyjungle  5148 non-null   float64
 296  t2p2_cspm                     5149 non-null   float64
 297  t2p2_goldat10                 5095 non-null   float64
 298  t2p2pat10                     5095 non-null   float64
 299  t2p2_csat10                   5095 non-null   float64
 300  t2p2_goldat15                 5091 non-null   float64
 301  t2p2pat15                     5091 non-null   float64
 302  t2p2_csat15                   5091 non-null   float64
 303  t2p3_position                 5149 non-null   object
 304  t2p3_player                   5149 non-null   object
 305  t2p3_team                     5149 non-null   object
 306  t2p3_champion                 5149 non-null   object
 307  t2p3_kills                    5149 non-null   int64
 308  t2p3_deaths                   5149 non-null   int64
 309  t2p3_assists                  5149 non-null   int64
 310  t2p3_firstblood               5044 non-null   float64
 311  t2p3_firstbloodkill           5118 non-null   float64
 312  t2p3_firstbloodassist         5097 non-null   float64
 313  t2p3_firstbloodvictim         5097 non-null   float64
 314  t2p3_damagetochampions        5148 non-null   float64
 315  t2p3_dpm                      5148 non-null   float64
 316  t2p3_wardsplaced              5148 non-null   float64
 317  t2p3_wpm                      5148 non-null   float64
 318  t2p3_wardskilled              5148 non-null   float64
 319  t2p3_wcpm                     5148 non-null   float64
 320  t2p3_controlwardsbought       5148 non-null   float64
 321  t2p3_visionscore              5044 non-null   float64
 322  t2p3_vspm                     5044 non-null   float64
 323  t2p3_totalgold                5149 non-null   int64
 324  t2p3_earnedgold               5149 non-null   int64
 325  t2p3_earned gpm               5149 non-null   float64
 326  t2p3_goldspent                5127 non-null   float64
 327  t2p3_minionkills              5148 non-null   float64
 328  t2p3_monsterkills             5148 non-null   float64
 329  t2p3_monsterkillsownjungle    5148 non-null   float64
 330  t2p3_monsterkillsenemyjungle  5148 non-null   float64
 331  t2p3_cspm                     5149 non-null   float64

In [21]:
S10_dataset.describe()

,playoffs,game,patch,gamelength,t1_result,t1_firstblood,t1_firstdragon,t1_dragons,t1_elementaldrakes,t1_infernals,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
count,5149.000000,5149.000000,5149.000000,5149.000000,5149.000000,5148.000000,5095.000000,5149.000000,5067.000000,5067.000000,...,5148.000000,5148.000000,5148.000000,5149.000000,5095.000000,5095.000000,5095.000000,5091.000000,5091.000000,5091.000000
mean,0.088367,1.511556,10.091468,1954.632356,0.529229,0.505633,0.465751,2.445912,2.322873,0.585159,...,14.986791,8.168803,1.971057,7.610857,3224.673405,4495.384102,74.880275,5137.865449,7101.329012,120.271459
std,0.283855,0.786265,0.058239,346.563783,0.499193,0.500017,0.498875,1.475926,1.368083,0.798242,...,12.818328,8.323369,3.725231,1.163776,358.527040,396.128964,11.336944,644.707323,625.069560,16.407440
min,0.000000,1.000000,9.240000,1005.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.867100,1919.000000,2021.000000,12.000000,2841.000000,3346.000000,19.000000
25%,0.000000,1.000000,10.060000,1711.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,5.000000,1.000000,0.000000,6.844600,2995.000000,4273.000000,68.000000,4697.000000,6713.500000,110.000000
50%,0.000000,1.000000,10.110000,1913.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.000000,...,12.000000,6.000000,0.000000,7.603800,3190.000000,4540.000000,76.000000,5049.000000,7145.000000,121.000000
75%,0.000000,2.000000,10.130000,2158.000000,1.000000,1.000000,1.000000,4.000000,4.000000,1.000000,...,22.000000,12.000000,3.000000,8.368600,3417.500000,4773.500000,83.000000,5492.000000,7529.000000,131.000000
max,1.000000,5.000000,10.160000,3751.000000,1.000000,1.000000,1.000000,10.000000,4.000000,4.000000,...,136.000000,106.000000,36.000000,11.822200,5296.000000,5756.000000,107.000000,9006.000000,9479.000000,171.000000

In [12]:
S10_dataset.shape

(5149, 408)

In [15]:
# Cardinalidad
for i in S10_dataset.select_dtypes(include=object):
    print(f"La cardinalidad de la variable {i} es {(S10_dataset[i].nunique()/S10_dataset.shape[0])*100:.2f}%")

La cardinalidad de la variable gameId es 99.98%
La cardinalidad de la variable league es 0.45%
La cardinalidad de la variable split es 0.14%
La cardinalidad de la variable date es 97.63%
La cardinalidad de la variable t1_playerid es 4.74%
La cardinalidad de la variable t1_ban1 es 2.08%
La cardinalidad de la variable t1_ban2 es 2.12%
La cardinalidad de la variable t1_ban3 es 2.16%
La cardinalidad de la variable t1_ban4 es 2.49%
La cardinalidad de la variable t1_ban5 es 2.41%
La cardinalidad de la variable t2_playerid es 4.74%
La cardinalidad de la variable t2_ban1 es 1.96%
La cardinalidad de la variable t2_ban2 es 2.04%
La cardinalidad de la variable t2_ban3 es 2.06%
La cardinalidad de la variable t2_ban4 es 2.62%
La cardinalidad de la variable t2_ban5 es 2.43%
La cardinalidad de la variable t1p1_position es 0.02%
La cardinalidad de la variable t1p1_player es 6.62%
La cardinalidad de la variable t1p1_team es 4.74%
La cardinalidad de la variable t1p1_champion es 0.99%
La cardinalidad de la variable t1p2_position es 0.02%
La cardinalidad de la variable t1p2_player es 6.43%
La cardinalidad de la variable t1p2_team es 4.74%
La cardinalidad de la variable t1p2_champion es 1.05%
La cardinalidad de la variable t1p3_position es 0.02%
La cardinalidad de la variable t1p3_player es 6.78%
La cardinalidad de la variable t1p3_team es 4.74%
La cardinalidad de la variable t1p3_champion es 1.61%
La cardinalidad de la variable t1p4_position es 0.02%
La cardinalidad de la variable t1p4_player es 6.51%
La cardinalidad de la variable t1p4_team es 4.74%
La cardinalidad de la variable t1p4_champion es 0.91%
La cardinalidad de la variable t1p5_position es 0.02%
La cardinalidad de la variable t1p5_player es 6.58%
La cardinalidad de la variable t1p5_team es 4.74%
La cardinalidad de la variable t1p5_champion es 1.40%
La cardinalidad de la variable t2p1_position es 0.02%
La cardinalidad de la variable t2p1_player es 6.74%
La cardinalidad de la variable t2p1_team es 4.74%
La cardinalidad de la variable t2p1_champion es 1.07%
La cardinalidad de la variable t2p2_position es 0.02%
La cardinalidad de la variable t2p2_player es 6.51%
La cardinalidad de la variable t2p2_team es 4.74%
La cardinalidad de la variable t2p2_champion es 1.05%
La cardinalidad de la variable t2p3_position es 0.02%
La cardinalidad de la variable t2p3_player es 6.68%
La cardinalidad de la variable t2p3_team es 4.74%
La cardinalidad de la variable t2p3_champion es 1.69%
La cardinalidad de la variable t2p4_position es 0.02%
La cardinalidad de la variable t2p4_player es 6.43%
La cardinalidad de la variable t2p4_team es 4.74%
La cardinalidad de la variable t2p4_champion es 0.91%
La cardinalidad de la variable t2p5_position es 0.02%
La cardinalidad de la variable t2p5_player es 6.49%
La cardinalidad de la variable t2p5_team es 4.74%
La cardinalidad de la variable t2p5_champion es 1.36%

## Limpieza

### Limpieza dataframe principal

### Separando las ligas mayoritarias

#### LPL

In [34]:
lpl = S10_dataset[S10_dataset["league"] == "LPL"]

#### LCK

In [35]:
lck = S10_dataset[S10_dataset["league"] == "LCK"]

#### LEC

In [36]:
lec = S10_dataset[S10_dataset["league"] == "LEC"]

#### LCS

In [37]:
lcs = S10_dataset[S10_dataset["league"] == "LCS"]

#### Por regiones

##### Asia

In [44]:
asia = pd.concat([lck, lpl])

##### Occidente

In [46]:
occidente = pd.concat([lck, lpl])

#### Todas las ligas mayoritarias

In [47]:
major_leagues = pd.concat([asia, occidente])

## Hipótesis