In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_csv("C:\\Users\\camil\\OneDrive\\Documentos\\GitHub\\GITHUb\\EDA_DS\\Src\\Data\\raw\\08_19_2020.csv", sep=";")

teams

In [3]:
df.columns[df.columns.str.startswith("t1")]

Index(['t1_playerid', 't1_ban1', 't1_ban2', 't1_ban3', 't1_ban4', 't1_ban5',
       't1_result', 't1_firstblood', 't1_firstdragon', 't1_dragons',
       ...
       't1p5_monsterkills', 't1p5_monsterkillsownjungle',
       't1p5_monsterkillsenemyjungle', 't1p5_cspm', 't1p5_goldat10',
       't1p5pat10', 't1p5_csat10', 't1p5_goldat15', 't1p5pat15',
       't1p5_csat15'],
      dtype='object', length=200)

In [4]:
df.columns[df.columns.str.startswith("blue")]

Index([], dtype='object')

In [5]:
df.columns = df.columns.str.replace("t1_", "blue_")

In [6]:
df.columns[df.columns.str.startswith("t1")]

Index(['t1p1_position', 't1p1_player', 't1p1_team', 't1p1_champion',
       't1p1_kills', 't1p1_deaths', 't1p1_assists', 't1p1_firstblood',
       't1p1_firstbloodkill', 't1p1_firstbloodassist',
       ...
       't1p5_monsterkills', 't1p5_monsterkillsownjungle',
       't1p5_monsterkillsenemyjungle', 't1p5_cspm', 't1p5_goldat10',
       't1p5pat10', 't1p5_csat10', 't1p5_goldat15', 't1p5pat15',
       't1p5_csat15'],
      dtype='object', length=175)

In [7]:
df.columns[df.columns.str.startswith("blue")]

Index(['blue_playerid', 'blue_ban1', 'blue_ban2', 'blue_ban3', 'blue_ban4',
       'blue_ban5', 'blue_result', 'blue_firstblood', 'blue_firstdragon',
       'blue_dragons', 'blue_elementaldrakes', 'blue_infernals',
       'blue_mountains', 'blue_clouds', 'blue_oceans', 'blue_elders',
       'blue_firstherald', 'blue_heralds', 'blue_firstbaron', 'blue_barons',
       'blue_firsttower', 'blue_towers', 'blue_firstmidtower',
       'blue_firsttothreetowers', 'blue_inhibitors'],
      dtype='object')

In [8]:
# t1p1
df.columns = df.columns.str.replace("t1p1", "blue_p1")

# t1p2
df.columns = df.columns.str.replace("t1p2", "blue_p2")

#t1p3
df.columns = df.columns.str.replace("t1p3", "blue_p3")

#t1p4

df.columns = df.columns.str.replace("t1p4", "blue_p4")

#t1p4

df.columns = df.columns.str.replace("t1p5", "blue_p5")

In [9]:
df.columns[df.columns.str.startswith("t1")]

Index([], dtype='object')

In [10]:
df.columns[df.columns.str.startswith("blue")]

Index(['blue_playerid', 'blue_ban1', 'blue_ban2', 'blue_ban3', 'blue_ban4',
       'blue_ban5', 'blue_result', 'blue_firstblood', 'blue_firstdragon',
       'blue_dragons',
       ...
       'blue_p5_monsterkills', 'blue_p5_monsterkillsownjungle',
       'blue_p5_monsterkillsenemyjungle', 'blue_p5_cspm', 'blue_p5_goldat10',
       'blue_p5pat10', 'blue_p5_csat10', 'blue_p5_goldat15', 'blue_p5pat15',
       'blue_p5_csat15'],
      dtype='object', length=200)

In [11]:
df.columns[df.columns.str.startswith("t2")]

Index(['t2_playerid', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4', 't2_ban5',
       't2_result', 't2_firstblood', 't2_firstdragon', 't2_dragons',
       ...
       't2p5_monsterkills', 't2p5_monsterkillsownjungle',
       't2p5_monsterkillsenemyjungle', 't2p5_cspm', 't2p5_goldat10',
       't2p5pat10', 't2p5_csat10', 't2p5_goldat15', 't2p5pat15',
       't2p5_csat15'],
      dtype='object', length=200)

In [12]:
df.columns[df.columns.str.startswith("red")]

Index([], dtype='object')

In [13]:
# De t2 a red 

df.columns = df.columns.str.replace("t2_", "red_")

df.columns = df.columns.str.replace("t2", "red_")

In [14]:
df.columns[df.columns.str.startswith("t2")]

Index([], dtype='object')

In [15]:
df.columns[df.columns.str.startswith("red")]

Index(['red_playerid', 'red_ban1', 'red_ban2', 'red_ban3', 'red_ban4',
       'red_ban5', 'red_result', 'red_firstblood', 'red_firstdragon',
       'red_dragons',
       ...
       'red_p5_monsterkills', 'red_p5_monsterkillsownjungle',
       'red_p5_monsterkillsenemyjungle', 'red_p5_cspm', 'red_p5_goldat10',
       'red_p5pat10', 'red_p5_csat10', 'red_p5_goldat15', 'red_p5pat15',
       'red_p5_csat15'],
      dtype='object', length=200)

position

In [16]:
df[df.columns[df.columns.str.endswith("position")]]

,blue_p1_position,blue_p2_position,blue_p3_position,blue_p4_position,blue_p5_position,red_p1_position,red_p2_position,red_p3_position,red_p4_position,red_p5_position
0,sup,bot,mid,jng,top,sup,bot,mid,jng,top
1,sup,bot,mid,jng,top,sup,bot,mid,jng,top
2,sup,bot,mid,jng,top,sup,bot,mid,jng,top
3,sup,bot,mid,jng,top,sup,bot,mid,jng,top
4,sup,bot,mid,jng,top,sup,bot,mid,jng,top
...,...,...,...,...,...,...,...,...,...,...
5144,sup,bot,mid,jng,top,sup,bot,mid,jng,top
5145,sup,bot,mid,jng,top,sup,bot,mid,jng,top
5146,sup,bot,mid,jng,top,sup,bot,mid,jng,top
5147,sup,bot,mid,jng,top,sup,bot,mid,jng,top
5148,sup,bot,mid,jng,top,sup,bot,mid,jng,top

In [17]:
df[df.columns[df.columns.str.endswith("position")]].value_counts()

blue_p1_position  blue_p2_position  blue_p3_position  blue_p4_position  blue_p5_position  red_p1_position  red_p2_position  red_p3_position  red_p4_position  red_p5_position
sup               bot               mid               jng               top               sup              bot              mid              jng              top                5149
Name: count, dtype: int64

In [18]:
# p1 to sup
df.columns = df.columns.str.replace("p1", "sup")

#p2 to bot
df.columns = df.columns.str.replace("p2", "bot")

#p3 to mid
df.columns = df.columns.str.replace("p3", "mid")

#p4 to jng
df.columns = df.columns.str.replace("p4", "jng")

#p5 to top
df.columns = df.columns.str.replace("p5", "top")

In [19]:
position_cols = df[df.columns[df.columns.str.endswith("position")]]

for i in df:
    if i in position_cols:
        del df[f"{i}"]

In [20]:
df.columns[df.columns.str.endswith("position")]

Index([], dtype='object')

team column

In [21]:
df[df.columns[df.columns.str.endswith("playerid")]]

            blue_playerid          red_playerid
0          SANDBOX Gaming                    T1
1                      T1        SANDBOX Gaming
2                      T1        SANDBOX Gaming
3                      T1        SANDBOX Gaming
4                     DRX        Afreeca Freecs
...                   ...                   ...
5144               Racoon  SAMCLAN Esports Club
5145      SINNERS Esports            Five Kings
5146     Team GamerLegion        Riddle Esports
5147            G2 Arctic                 CR4ZY
5148  Intrepid Fox Gaming     7more7 Pompa Team

[5149 rows x 2 columns]

In [22]:
df[df.columns[df.columns.str.endswith("team")]]

,blue_sup_team,blue_bot_team,blue_mid_team,blue_jng_team,blue_top_team,red_sup_team,red_bot_team,red_mid_team,red_jng_team,red_top_team
0,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming,T1,T1,T1,T1,T1
1,T1,T1,T1,T1,T1,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming
2,T1,T1,T1,T1,T1,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming
3,T1,T1,T1,T1,T1,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming,SANDBOX Gaming
4,DRX,DRX,DRX,DRX,DRX,Afreeca Freecs,Afreeca Freecs,Afreeca Freecs,Afreeca Freecs,Afreeca Freecs
...,...,...,...,...,...,...,...,...,...,...
5144,Racoon,Racoon,Racoon,Racoon,Racoon,SAMCLAN Esports Club,SAMCLAN Esports Club,SAMCLAN Esports Club,SAMCLAN Esports Club,SAMCLAN Esports Club
5145,SINNERS Esports,SINNERS Esports,SINNERS Esports,SINNERS Esports,SINNERS Esports,Five Kings,Five Kings,Five Kings,Five Kings,Five Kings
5146,Team GamerLegion,Team GamerLegion,Team GamerLegion,Team GamerLegion,Team GamerLegion,Riddle Esports,Riddle Esports,Riddle Esports,Riddle Esports,Riddle Esports
5147,G2 Arctic,G2 Arctic,G2 Arctic,G2 Arctic,G2 Arctic,CR4ZY,CR4ZY,CR4ZY,CR4ZY,CR4ZY
5148,Intrepid Fox Gaming,Intrepid Fox Gaming,Intrepid Fox Gaming,Intrepid Fox Gaming,Intrepid Fox Gaming,7more7 Pompa Team,7more7 Pompa Team,7more7 Pompa Team,7more7 Pompa Team,7more7 Pompa Team

In [23]:
b_team = df[["blue_top_team", "blue_mid_team", "blue_jng_team", "blue_bot_team", "blue_sup_team"]]
r_team = df[["red_top_team", "red_mid_team", "red_jng_team", "red_bot_team", "red_sup_team"]]

for team_col in df:
    if team_col in b_team:
        del df[f"{team_col}"]
        
    elif team_col in r_team:
        del df[f"{team_col}"]

In [24]:
df.columns[df.columns.str.endswith("team")]

Index([], dtype='object')

victorias

In [25]:
df.columns = df.columns.str.replace("blue_result", "result")

In [26]:
del df["red_result"]

first objetives

In [27]:
df.columns = df.columns.str.replace("blue_first", "first")

In [28]:
df.columns[df.columns.str.contains('first')]

Index(['firstblood', 'firstdragon', 'firstherald', 'firstbaron', 'firsttower',
       'firstmidtower', 'firsttothreetowers', 'red_firstblood',
       'red_firstdragon', 'red_firstherald', 'red_firstbaron',
       'red_firsttower', 'red_firstmidtower', 'red_firsttothreetowers',
       'blue_sup_firstblood', 'blue_sup_firstbloodkill',
       'blue_sup_firstbloodassist', 'blue_sup_firstbloodvictim',
       'blue_bot_firstblood', 'blue_bot_firstbloodkill',
       'blue_bot_firstbloodassist', 'blue_bot_firstbloodvictim',
       'blue_mid_firstblood', 'blue_mid_firstbloodkill',
       'blue_mid_firstbloodassist', 'blue_mid_firstbloodvictim',
       'blue_jng_firstblood', 'blue_jng_firstbloodkill',
       'blue_jng_firstbloodassist', 'blue_jng_firstbloodvictim',
       'blue_top_firstblood', 'blue_top_firstbloodkill',
       'blue_top_firstbloodassist', 'blue_top_firstbloodvictim',
       'red_sup_firstblood', 'red_sup_firstbloodkill',
       'red_sup_firstbloodassist', 'red_sup_firstbloodvictim',
       'red_bot_firstblood', 'red_bot_firstbloodkill',
       'red_bot_firstbloodassist', 'red_bot_firstbloodvictim',
       'red_mid_firstblood', 'red_mid_firstbloodkill',
       'red_mid_firstbloodassist', 'red_mid_firstbloodvictim',
       'red_jng_firstblood', 'red_jng_firstbloodkill',
       'red_jng_firstbloodassist', 'red_jng_firstbloodvictim',
       'red_top_firstblood', 'red_top_firstbloodkill',
       'red_top_firstbloodassist', 'red_top_firstbloodvictim'],
      dtype='object')

In [29]:
red_first = df[df.columns[df.columns.str.startswith('red_first')]]

for  x in df:
    if x in red_first:
        del df[f"{x}"]

In [30]:
firstbloods  = df.columns[df.columns.str.endswith('_firstblood')]
firstbloods

Index(['blue_sup_firstblood', 'blue_bot_firstblood', 'blue_mid_firstblood',
       'blue_jng_firstblood', 'blue_top_firstblood', 'red_sup_firstblood',
       'red_bot_firstblood', 'red_mid_firstblood', 'red_jng_firstblood',
       'red_top_firstblood'],
      dtype='object')

In [31]:
for y in df:
    if y in firstbloods:
        del df[f"{y}"]

In [208]:
df.columns[df.columns.str.contains('firstblood')]

Index(['firstblood', 'blue_sup_firstbloodkill', 'blue_sup_firstbloodassist',
       'blue_sup_firstbloodvictim', 'blue_bot_firstbloodkill',
       'blue_bot_firstbloodassist', 'blue_bot_firstbloodvictim',
       'blue_mid_firstbloodkill', 'blue_mid_firstbloodassist',
       'blue_mid_firstbloodvictim', 'blue_jng_firstbloodkill',
       'blue_jng_firstbloodassist', 'blue_jng_firstbloodvictim',
       'blue_top_firstbloodkill', 'blue_top_firstbloodassist',
       'blue_top_firstbloodvictim', 'red_sup_firstbloodkill',
       'red_sup_firstbloodassist', 'red_sup_firstbloodvictim',
       'red_bot_firstbloodkill', 'red_bot_firstbloodassist',
       'red_bot_firstbloodvictim', 'red_mid_firstbloodkill',
       'red_mid_firstbloodassist', 'red_mid_firstbloodvictim',
       'red_jng_firstbloodkill', 'red_jng_firstbloodassist',
       'red_jng_firstbloodvictim', 'red_top_firstbloodkill',
       'red_top_firstbloodassist', 'red_top_firstbloodvictim'],
      dtype='object')

In [32]:

import sys
sys.path.append('C:\\Users\\camil\\OneDrive\\Documentos\\GitHub\\GITHUb\\EDA_DS\\Src\\utils')
import gold_statistics

In [33]:
gold_statistics.get_team_goldstats(df)

,gameId,league,split,playoffs,date,game,patch,gamelength,blue_playerid,blue_ban1,...,blue_totalgold,blue_earnedgold,blue_spentgold,blue_goldat10,blue_goldat15,red_totalgold,red_earnedgold,red_spentgold,red_goldat10,red_goldat15
0,1241318,KeSPA,NaN,0,03/01/2020 7:33,1,9.24,2220,SANDBOX Gaming,LeBlanc,...,68927,44907,62275.0,14615.0,21953.0,62709,38689,62025.0,14498.0,22778.0
1,1241322,KeSPA,NaN,0,03/01/2020 9:00,2,9.24,2227,T1,Syndra,...,57283,33188,56575.0,14180.0,21714.0,72004,47909,63975.0,16194.0,27198.0
2,1241324,KeSPA,NaN,0,03/01/2020 10:05,3,9.24,1711,T1,LeBlanc,...,58078,39248,50660.0,15531.0,24882.0,42465,23635,40375.0,14849.0,22316.0
3,1241328,KeSPA,NaN,0,03/01/2020 10:57,4,9.24,1999,T1,Rumble,...,50749,28979,48400.0,14313.0,22329.0,64845,43075,57400.0,15892.0,24800.0
4,1241386,KeSPA,NaN,0,04/01/2020 5:33,1,9.24,1812,DRX,Qiyana,...,48633,28773,47010.0,15388.0,24644.0,58837,38977,51785.0,16135.0,23767.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,1310259,EM,NaN,0,18/08/2020 20:25,1,10.16,2075,Racoon,Caitlyn,...,64974,42429,57925.0,15437.0,25367.0,56098,33553,57108.0,15263.0,22918.0
5145,1310260,EM,NaN,0,18/08/2020 20:27,1,10.16,2095,SINNERS Esports,Shen,...,70858,48113,65058.0,18545.0,28688.0,58726,35981,54775.0,16559.0,24468.0
5146,1310262,EM,NaN,0,18/08/2020 20:53,1,10.16,2879,Team GamerLegion,Nidalee,...,87236,56491,84670.0,14766.0,23862.0,82842,52097,79411.0,14861.0,23284.0
5147,1320317,EM,NaN,0,18/08/2020 20:56,1,10.16,1874,G2 Arctic,Cho'Gath,...,57694,37199,52925.0,16975.0,26145.0,45986,25491,45250.0,16091.0,24157.0
5148,1310264,EM,NaN,0,18/08/2020 21:27,1,10.16,1808,Intrepid Fox Gaming,Akali,...,56239,36419,51625.0,15400.0,25473.0,45677,25857,44308.0,14764.0,21733.0