In [85]:
import numpy as np 
from datetime import datetime
import pandas as pd

In [86]:
df_prueba = pd.read_csv("C:\\Users\\camil\\OneDrive\\Documentos\\GitHub\\GITHUb\\EDA_DS\\Src\\Data\\S10_Main.csv", parse_dates=["date"], index_col= 0)

In [87]:
def assing_split(df):

    spring_splits = ["Opening", "Split 1", "Winter"]
    summer_splits = ["Split 2", "Closing"]

    for split in df["split"]:
        if split in spring_splits:
            df["split"][df["split"] == split] = "Spring"
            pass
        elif split in summer_splits:
            df["split"][df["split"] == split] = "Summer"
    
    return df

In [88]:
assing_split(df_prueba)

C:\Users\camil\AppData\Local\Temp\ipykernel_16772\2656849015.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["split"][df["split"] == split] = "Spring"
C:\Users\camil\AppData\Local\Temp\ipykernel_16772\2656849015.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["split"][df["split"] == split] = "Spring"
C:\Users\camil\AppData\Local\Temp\ipykernel_16772\2656849015.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["split"][df["split"] == split] = "Spring"
C:\Users\camil\AppData\Local\Temp\ipykernel_16772\2656849015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["split"][df["split"] == split] = "Summer"
C:\Users\camil\AppData\Local\Temp\ipykernel_16772\2656849015.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["split"][df["split"] == split] = "Summer"

,gameId,league,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
0,1241318,KeSPA,NaN,0,2020-01-03 07:33:00,1,9.24,2220,SANDBOX Gaming,LeBlanc,...,27.0,18.0,0.0,8.2162,2845.0,4432.0,65.0,4723.0,7202.0,118.0
1,1241322,KeSPA,NaN,0,2020-01-03 09:00:00,2,9.24,2227,T1,Syndra,...,42.0,15.0,5.0,8.5406,3657.0,5135.0,93.0,6627.0,8784.0,162.0
2,1241324,KeSPA,NaN,0,2020-01-03 10:05:00,3,9.24,1711,T1,LeBlanc,...,8.0,1.0,0.0,8.2759,3282.0,4851.0,90.0,5252.0,7933.0,150.0
3,1241328,KeSPA,NaN,0,2020-01-03 10:57:00,4,9.24,1999,T1,Rumble,...,16.0,4.0,9.0,9.4247,3351.0,4671.0,92.0,5190.0,7374.0,144.0
4,1241386,KeSPA,NaN,0,2020-01-04 05:33:00,1,9.24,1812,DRX,Qiyana,...,27.0,12.0,4.0,8.9404,3587.0,4809.0,88.0,5114.0,7078.0,134.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,1310259,EM,NaN,0,2020-08-18 20:25:00,1,10.16,2075,Racoon,Caitlyn,...,12.0,8.0,4.0,6.9976,3613.0,4564.0,83.0,5159.0,6917.0,127.0
5145,1310260,EM,NaN,0,2020-08-18 20:27:00,1,10.16,2095,SINNERS Esports,Shen,...,8.0,0.0,4.0,4.4105,2509.0,3346.0,49.0,4212.0,4791.0,72.0
5146,1310262,EM,NaN,0,2020-08-18 20:53:00,1,10.16,2879,Team GamerLegion,Nidalee,...,10.0,10.0,0.0,7.0441,2995.0,4173.0,54.0,4536.0,6535.0,93.0
5147,1320317,EM,NaN,0,2020-08-18 20:56:00,1,10.16,1874,G2 Arctic,Cho'Gath,...,1.0,1.0,0.0,6.1473,3177.0,4291.0,57.0,5139.0,7260.0,109.0
5148,1310264,EM,NaN,0,2020-08-18 21:27:00,1,10.16,1808,Intrepid Fox Gaming,Akali,...,0.0,0.0,0.0,7.6991,3027.0,4252.0,74.0,4764.0,7047.0,124.0

In [89]:
df_prueba.groupby("league")["split"].value_counts().unstack()

split   Spring  Summer
league
CBLOL       93      88
CK         150     134
LCK        238     191
LCL         67      55
LCS        125     100
LCS.A      107      96
LEC        121      90
LJL         83      66
LLA         79      70
LPL        361     350
OPL        109      94
PCS        131     106
TCL         91      99
VCS        139     133

In [96]:
df_prueba.loc[:"2020-06-31"]["split"].fillna("Spring")

0       Spring
1       Spring
2       Spring
3       Spring
4       Spring
         ...
2016    Spring
2017    Spring
2018    Spring
2019    Spring
2020    Spring
Name: split, Length: 2021, dtype: object

In [131]:
df_prueba[df_prueba["split"] == "Spring"].tail(1)

,gameId,league,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
2385,1210005,TCL,Spring,1,2020-05-11 12:41:00,3,10.08,1570,1907 Fenerbahçe Esports,Jarvan IV,...,10.0,5.0,0.0,6.8025,3002.0,4591.0,75.0,4428.0,6659.0,109.0

In [130]:
df_prueba[df_prueba["split"] == "Summer"].head(1)

,gameId,league,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
2423,1380452,CBLOL,Summer,0,2020-05-19 20:52:00,1,10.08,1731,INTZ,Syndra,...,8.0,8.0,0.0,9.5667,3329.0,4849.0,91.0,5298.0,7508.0,140.0

In [90]:
df_prueba[df_prueba["league"] == "KeSPA"]

,gameId,league,split,playoffs,date,game,patch,gamelength,t1_playerid,t1_ban1,...,t2p5_monsterkills,t2p5_monsterkillsownjungle,t2p5_monsterkillsenemyjungle,t2p5_cspm,t2p5_goldat10,t2p5pat10,t2p5_csat10,t2p5_goldat15,t2p5pat15,t2p5_csat15
0,1241318,KeSPA,NaN,0,2020-01-03 07:33:00,1,9.24,2220,SANDBOX Gaming,LeBlanc,...,27.0,18.0,0.0,8.2162,2845.0,4432.0,65.0,4723.0,7202.0,118.0
1,1241322,KeSPA,NaN,0,2020-01-03 09:00:00,2,9.24,2227,T1,Syndra,...,42.0,15.0,5.0,8.5406,3657.0,5135.0,93.0,6627.0,8784.0,162.0
2,1241324,KeSPA,NaN,0,2020-01-03 10:05:00,3,9.24,1711,T1,LeBlanc,...,8.0,1.0,0.0,8.2759,3282.0,4851.0,90.0,5252.0,7933.0,150.0
3,1241328,KeSPA,NaN,0,2020-01-03 10:57:00,4,9.24,1999,T1,Rumble,...,16.0,4.0,9.0,9.4247,3351.0,4671.0,92.0,5190.0,7374.0,144.0
4,1241386,KeSPA,NaN,0,2020-01-04 05:33:00,1,9.24,1812,DRX,Qiyana,...,27.0,12.0,4.0,8.9404,3587.0,4809.0,88.0,5114.0,7078.0,134.0
5,1241394,KeSPA,NaN,0,2020-01-04 06:55:00,2,9.24,1548,Afreeca Freecs,Irelia,...,8.0,5.0,0.0,8.6434,3265.0,4855.0,85.0,4803.0,7456.0,132.0
6,1241396,KeSPA,NaN,0,2020-01-04 07:43:00,3,9.24,1594,Afreeca Freecs,Irelia,...,12.0,12.0,0.0,8.9210,3348.0,4463.0,81.0,5604.0,7642.0,135.0
7,1241467,KeSPA,NaN,0,2020-01-05 05:57:00,1,9.24,1393,SANDBOX Gaming,Qiyana,...,44.0,23.0,7.0,9.6913,3364.0,4519.0,79.0,6884.0,7844.0,131.0
8,1241468,KeSPA,NaN,0,2020-01-05 06:49:00,2,9.24,1809,Afreeca Freecs,Syndra,...,14.0,8.0,1.0,8.0929,3094.0,4812.0,82.0,4478.0,7104.0,119.0
9,1241474,KeSPA,NaN,0,2020-01-05 07:44:00,3,9.24,2085,SANDBOX Gaming,Irelia,...,24.0,9.0,4.0,8.0576,3469.0,4249.0,58.0,5642.0,6863.0,100.0